{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}VoltHub{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/flatly/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/charging.css' %}">
    
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/footer.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/register.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/contact.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'VoltHub/navbar.css' %}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    {% block extra_css %}{% endblock %}
    </head>


    <body>

        <!--Navbar Section here-->
        {% include 'VoltHub/navbar.html' %}

        <!--notification messages below navbar-->
        {% include 'VoltHub/messaging.html' %}
        
        <div class="{% block container_classes %}container{% endblock %}">
            <br>
            {% block content %}
            {% endblock %}
        </div>



        <!-- Bootstrap 5 JS bundle (no jQuery needed) -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

        <!-- Site JS -->
        <script src="{% static 'VoltHub/app.js' %}"></script>
        <script src="{% static 'VoltHub/map.js' %}"></script>
        <script src="{% static 'VoltHub/chart.js' %}"></script>

        {% block extra_js %}{% endblock %}

    </body>

</html>