{% extends 'VoltHub/base.html' %}

{% load static %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'VoltHub/contact.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    </style>
</head>
<body>
    <div class="container">
        <h1>Contact Us</h1>
        <div class="office-info">
            <h2>Our Offices</h2>
            <p>Khumalo Road, Thokoza, Alberton 1426, 05 Letlatsa Street, Thintwa</p>
            <p>Email: <a href="thatoselepe53@gmail.com">thatoselepe53@gmail.com</a></p>
            <p>24 hour Support: +27 78 352 2058</p>
        </div>
        <form method="post" action="/submit-contact/">
            <label for="name">Name *</label>
            <input type="text" id="name" name="name" required>

            <label for="contact_number">Your Contact Number</label>
            <input type="text" id="contact_number" name="contact_number">

            <label for="email">Email *</label>
            <input type="email" id="email" name="email" required>

            <label for="message">Comment or Message *</label>
            <textarea id="message" name="message" rows="5" required></textarea>

            <input type="submit" value="Submit">
        </form>
    </div>
    <br>

    {% include 'VoltHub/footer.html' %}
</body>

{% endblock %}