
    <section class="footer">

        <div class="social">

             <!--whatsapp icon-->
             <a href="https://wa.me/27783522058?text=Hello%20Thato%2C%20I%27d%20like%20to%20chat!"><i class="fa fa-brands fa-whatsapp" aria-hidden="true"></i></a>

            <!--Instagram icon-->
            <a href="#"><i class="fa fa-brands fa-instagram" aria-hidden="true"></i></a>

            <!--facebook icon-->
            <a href="https://www.facebook.com/thato.thatoo.10"><i class="fa fa-brands fa-facebook" aria-hidden="true"></i></a>

            <!--linkedin icon-->
            <a href="https://www.linkedin.com/in/thato-selepe-231266241"><i class="fa fa-brands fa-linkedin" aria-hidden="true"></i></a>



        </div>

        <ul>

           <li>
                <a href="{% url '' %}">Home</a>
            </li>
            
            <li>
                <a href="{% url 'about_us' %}">About Us</a>
            </li>

            <li>
                <a href="{% url 'contact_us' %}">Contact Us</a>
            </li>

        </ul>

        <p class="copy-right">Copyright ©2025 al right reserved by Thato_Selepe</p>

    </section>
