{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'VoltHub/dashboard.css' %}">
{% endblock %}

{% block container_classes %}container-fluid p-0{% endblock %}

{% block content %}

<section class="footer neon-footer site-footer">
  <div class="footer-container">
    <div class="social" aria-label="Social media links">
      <!--whatsapp icon-->
      <a href="https://wa.me/27783522058?text=Hello%20Thato%2C%20I%27d%20like%20to%20chat!" aria-label="WhatsApp"><i class="fa fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      <!--Instagram icon-->
      <a href="#" aria-label="Instagram"><i class="fa fa-brands fa-instagram" aria-hidden="true"></i></a>
      <!--facebook icon-->
      <a href="https://www.facebook.com/thato.thatoo.10" aria-label="Facebook"><i class="fa fa-brands fa-facebook" aria-hidden="true"></i></a>
      <!--linkedin icon-->
      <a href="https://www.linkedin.com/in/thato-selepe-231266241" aria-label="LinkedIn"><i class="fa fa-brands fa-linkedin" aria-hidden="true"></i></a>
    </div>

    <ul class="footer-links" aria-label="Footer navigation">
      <li><a href="{% url '' %}">Home</a></li>
      <li><a href="{% url 'about_us' %}">About Us</a></li>
      <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
    </ul>

    <p class="copy-right">Copyright ©2025 Thato Selepe. All rights reserved.</p>
  </div>
</section>
{% endblock %}
 