
<nav class="navbar navbar-expand-lg navbar-dark bg-primary justify-content-center">

    <a class="navbar-brand main-heading" href="{% url '' %}"> 
            
      &nbsp; The VoltHub
    
    </a>
  
  
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
  
    </button>
  
  
      <div class="collapse navbar-collapse text-center" id="navbarNavDropdown">
  
        
        <ul class="navbar-nav mr-auto">
  
  
          &nbsp;     &nbsp;     &nbsp; 
  
          {% if user.is_authenticated %}
  
            <li class="nav-item">
        
              <a class="nav-link" href="{% url 'dashboard' %}"> Dashboard &nbsp; <i class="fa fa-home" aria-hidden="true"></i> </a>
  
            </li>


            &nbsp;     &nbsp;     &nbsp; 
    
            <li class="nav-item">
    
              <a class="nav-link" href="{% url '' %}"> Charging Points </a>
    
            </li>
  
            
            &nbsp;     &nbsp;     &nbsp; 
  
  
            <li class="nav-item">
  
              <a class="nav-link" href="{% url 'logout-user' %}">Sign out &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i> </a>
  
            </li>

    
        </ul>
  
        {% else %}
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'register' %}"> Register </a>
  
        </li>
  
  
        &nbsp;     &nbsp;     &nbsp; 
  
  
        <li class="nav-item">
  
          <a class="nav-link" href="{% url 'my-login' %}">Login</a>
  
        </li>

  
      

        <li class="nav-item">

          <a class="nav-link" href="{% url 'about_us' %}"> About Us </a>

        </li>


        &nbsp;     &nbsp;     &nbsp; 

        <li class="nav-item">

          <a class="nav-link" href="{% url 'contact_us' %}"> Contact Us </a>

        </li>

        <!--Search Form-->
        &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

        <form class="d-flex ms-auto" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">
            <i class="bi bi-search"></i>
          Submit</button>
        </form>
      
        

        {% endif %}
      
        
      </div>
  
  
  </nav>



