{% extends 'VoltHub/base.html' %}


{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="">
    
</head>
    <body>

        <div>
            <h3> Password Resert</h3>
            <p1> Please enter your email address to reset your password. </p1>
            <p1> You will receive an email with instructions on how to reset your password. </p1>
            <p1> If you do not receive the email, please check your spam folder. </p1>
            <p1> If you still do not receive the email, please contact us for assistance. </p1>

            <form method="POST" action="{% url 'reset_password' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Send Password Reset Email</button>
            </form>
        </div>

    
    </body>
</html>

{%endblock%}