{% extends 'VoltHub/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Start Your Journey Here</h3>

            <h5> Start Boosting Your Energy Now !</h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form|crispy}}

                <br>

                <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Start Your Journey &nbsp; <i class="fa fa-solid fa-user-plus" aria-hidden="true"></i></button>

            </form>

            <br>

            <div class="text-center">
                <p>Or</p>
                <a href="{% url '' %}" class="btn btn-danger w-100 btn-block p-2"> Register with Google &nbsp; <i class="fa fa-google" aria-hidden="true"></i></a>
            </div>

            <br>

            <div class="text-center">

                <p> Already have an account? </p> <a href="{% url 'my-login' %}"> Login </a>

            </div>

            <br>

        </div>

    </body>

{% endblock %}