{% extends 'ecommerce/base.html' %}


{% load static %}



<body>

{% include 'ecommerce/ecommerce_nav.html' %}

{% block content %}

 <header 
class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Power Your Drive, Shop Premium EV Essentials</h1>
            <p class="lead fw-normal text-white-50 mb-0">With The VoltHub</p>
        </div>
    </div>
</header>
<br>
<br>
<br>

<div class="container">
    <div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
        <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
        <div class="card-body">
            <center>
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.description}}</p><br>
            {% if product.on_sale %}
            <!-- Sale badge-->
            <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
            <strike>
                R{{ product.price }}
            </strike>
            &nbsp;
            R{{ product.sale_price }}
            {% else %}
            R{{ product.price }}
            {% endif %}
            <br>
            <br>
            <a href="{% url 'shop_home' %}" class="btn btn-primary">Back</a>
            </center>
        </div>
        </div>
    </div>
    </div>
</div>
<br>
<br>
<br>


 <!-- Footer-->
{% include 'VoltHub/footer.html' %}

{% endblock %}
</body>

