
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    
}


.container {
    flex: 1;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(237, 87%, 9%);
}
nav .logo{
    width: 100px;

}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}


.content{
    text-align: center;

}

.content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 400;

}


.content p{
    font-size: 20px;
    font-family: sans-serif;
    color: #fff;
    font-weight: 400;

}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.content a:hover{
   background-color: hsl(237, 87%, 9%);
}

.content a:active{
    background-color: whitesmoke;
}

.back-video{
    position: fixed;
    top:0%;
    left: 0%;
    bottom: 0%;
    transform: scale(1);
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}



.testimonial-container {
    background-color: #3a86ff;
    padding: 20px;
    border-radius: 30px;
    margin: 20px auto;
    max-width: 550px;
    box-shadow: 0 8px 10px hsl(237, 87%, 9%);
    float: left;
}

.testimonial-container {
    margin-bottom: 15px;
}

.testimonial-container p {
    font-style: italic;
    color: #03071e;
}

.testimonial-container h4 {
    margin-top: 5px;
    font-weight: bold;
    color: #ffffff;
}

.testimonial-container small {
    color: #ffffff;
}
        

/* footer section */

.footer
{
    background-color: rgb(1, 1, 17);
    width: 100%;
    left: 0;
    position: relative;
    margin-top: auto;
   
}

.social 
{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.social a
{
    font-size: 35px;
    width: 25px;
    padding: 10px;
    color: white;
}

.social a:hover
{
    background-color: skyblue;
    border-radius: 20px;
}

.social a:active{
    background-color: whitesmoke;
}


.footer ul
{
    list-style: none;
    text-align: center;
    padding-bottom: 30px;
    
}

.footer ul li
{
    display: inline-block;
    padding: 0px 15px;
}

.footer ul li a
{
    text-decoration: none;
    color: whitesmoke;
}

.footer ul li a:hover
{
    color: skyblue;
}

.copy-right
{
    text-align: center;
    padding-bottom: 30px;
    color: whitesmoke;
}


